<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <p>Hello {{name}}</p>
    <p>Please use the url below to verify your account</p>

    <a href={{link}} class="btn-link">verify account</a>

  </body>
</html>