<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is Password Reset</h1>
    <p>Hello {name}</p>
    <a href={{link}} class="btn-link">Reset Password</a>
    <br />
    <a href={{link}}>{{link}}</a>
  </body>
</html>